= render partial: "shared/messages_index", locals: { recipient_name: @driver.first_name_and_initial, path: company_driver_messages_path(@driver), company: current_company, driver: @driver, authorable_type: "Company" }
