- content_for :title, "Edit Profile"
= simple_form_for(@driver, url: driver_profile_path) do |f|
  = f.hidden_field :enforce_profile_edit, value: true
  .truckker-section.truckker-section__msg-subhead.d-block.mb-4
    .container
      .truckker-subhead
        h4.ellipsis.m-0 Edit Profile
        .d-flex.align-items-center.justify-content-end
          = link_to "Cancel", driver_profile_path, class: "btn btn-outline-primary btn-sm mr-2"
          = f.button :submit, "Update", class: "btn btn-primary btn-sm"
  = render "/driver/profiles/edit_driver_profile", f: f

javascript:
  var updateHeaderImage = function() {
    $("#edit-driver-profile-header").click();
    $("#edit-driver-profile-header").on('change', function() {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#driver-edit-profile__header");

      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else {
        alert("Only images can be selected.");
      }
    });
  }

  var updateProfilePicture = function() {
    $("#edit-driver-profile-avatar").click();
    $("#edit-driver-profile-avatar").on('change', function() {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#driver-edit-profile__avatar");

      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          };

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else {
        alert("Only images can be selected.");
      }
    });
  }


  function uploadCertificate (index) {
    if (index != undefined) {
      var ref = $("#driver_certifications_attributes_" + index + "_certificate");
    } else {
      var ref = $(".add-new-certificate").prev('div').find(".file-input--hidden");
    }

    ref.on('change', function () {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().find(".authorable_attachment--full");
      console.log(image_holder);
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/certification/placeholder.png")
      } else {
        alert("Only images/pdfs can be selected.");
      }
    });

    ref.click();
  }

  function uploadAffiliateImage (index) {
    if (index != undefined) {
      var ref = $("#driver_driver_affiliations_attributes_" + index + "_image");
    } else {
      var ref = $(".add-new-affiliation").prev('div').find(".file-input--hidden");
    }

    ref.on('change', function () {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().find(".authorable_attachment--full");
      console.log(image_holder);
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/driver_affiliation/placeholder.png")
      } else {
        alert("Only images/pdfs can be selected.");
      }
    });

    ref.click();
  }

  function uploadClearanceImage (index) {
    if (index != undefined) {
      var ref = $("#driver_driver_clearances_attributes_" + index + "_image");
    } else {
      var ref = $(".add-new-clearance").prev('div').find(".file-input--hidden");
    }

    ref.on('change', function () {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().find(".authorable_attachment--full");
      console.log(image_holder);
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/security_clearance/placeholder.png")
      } else {
        alert("Only images/pdfs can be selected.");
      }
    });

    ref.click();
  }

  function uploadPortfolioImage (index) {
    if (index != undefined) {
      var ref = $("#driver_driver_portfolios_attributes_" + index + "_image");
    } else {
      var ref = $(".add-new-portfolio").prev('div').find(".file-input--hidden");
    }

    ref.on('change', function () {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().find(".authorable_attachment--full");
      console.log(image_holder);
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/certification/placeholder.png")
      } else {
        alert("Only images/pdfs can be selected.");
      }
    });

    ref.click();
  }

  function uploadInsuranceImage(index) {
    if (index != undefined) {
      var ref = $("#driver_driver_insurances_attributes_" + index + "_image");
    } else {
      var ref = $(".add-new-insurance").prev('div').find(".file-input--hidden");
    }

    ref.on('change', function () {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().find(".authorable_attachment--full");
      console.log(image_holder);
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/insurance/placeholder.png")
      } else {
        alert("Only images/pdfs can be selected.");
      }
    });

    ref.click();
  }

