= render partial: "/freelancer/shared/profile_sub_nav"

- content_for :secondary do
  .result-wrapper
    #error.alert.alert-danger style="display:none"
    .result-freelancers
      .result-content
        h2 Add Bank Account details
        p To accept payouts from an AV Company to your personal or company Bank Account, you will need to add your banking details to your AV Junction account.
        .w-form
          = form_tag '/freelancer/stripe/bank', :id => 'bank_form', :class => 'common__form', method: 'POST' do
            .attachment.common__text-field-group
              label.common__field-label for="name-4"  Account type
              select.common__select-field.w-select name="bank[holder_type]"  id="bank_holder_type"
                option value="Individual"
                  | Individual
                option value="Company"
                  | Company
            .common__text-field-group
              label.common__field-label for="name-4"  Routing Number (optional)
              input.w-input data-name=("Name 3") maxlength="256" id="bank_account_routing_number" name="bank[account][routing_number]" placeholder=("Routing number for your account") type="text" /
              .common_form-field-helper-text
                | For the USA and Canada the routing number is the 4 digits of your banking institution together with the branch transit number. You can find it on a cheque.
              img src="/assets/banking/cheque.png"
            .common__text-field-group
              label.common__field-label for="name-4"  Bank Account Number / IBAN
              input.w-input data-name=("Name 3") maxlength="256" id="bank_account_bank_account" name="bank[account][bank_account]" placeholder=("Bank Account Number/ IBAN") type="text" /
            .common__text-field-group
              label.common__field-label for="name-4"  Account Holder Full Name
              input.w-input data-name=("Name 3") maxlength="256" name="bank[holder_name]" id="bank_holder_name" placeholder=("Enter the Full Name") type="text" /
            .attachment.common__text-field-group
              label.common__field-label for="name-4"  Account Currency
              select.common__select-field.w-select name="bank[currency]" id="bank_currency"
                - @country_spec.supported_bank_account_currencies.each do |val, arr |
                  option[value="#{val}"]
                    = arr[0]
            input type="hidden" name="bank[btok]" id="bank_btok"
            input type="hidden" name="bank[acc_id]" id="bank_acc_id"
            a#btn-primary.btn-primary--active.w-inline-block.width-100 href=""
              div SUBMIT

      script src="https://js.stripe.com/v3/"
      javascript:
        function disable_link(id){
          $(id).attr('disabled','disabled');
          $(id).addClass('btn-primary--disabled');
          $(id).removeClass('btn-primary--active');
        }
        function enable_link(id){
          $(id).removeAttr('disabled');
          $(id).addClass('btn-primary--active');
          $(id).removeClass('btn-primary--disabled');
        }
        $(document).ready(function() {

          $('#btn-primary').on('click', function(e){
            e.preventDefault();
            disable_link('#btn-primary');
            $('.common__text-field--error').each(function(){
              $(this).removeClass("common__text-field--error");
            });
            var routing_number = $('#bank_account_routing_number').val();
            var bank_account = $('#bank_account_bank_account').val();
            var holder_name = $('#bank_holder_name').val();
            var holder_type = $('#bank_holder_type').val();
            var holder_curreny = $('#bank_currency').val();
            var account_number, routing_number;
            // call stripe
            if (routing_number == "" ){
              $('#bank_account_routing_number').addClass("common__text-field--error");
              enable_link('#btn-primary');
            }
            else if (bank_account == ""){
              $('#bank_account_bank_account').addClass("common__text-field--error");
              enable_link('#btn-primary');
            }
            else{
              var stripe = Stripe('#{Rails.configuration.stripe[:publishable_key]}');
              stripe.createToken('bank_account', {
                country: '#{current_user.freelancer_profile.country&.upcase}',
                currency: holder_curreny,
                routing_number: routing_number,
                account_number: bank_account,
                account_holder_name: holder_name,
                account_holder_type: holder_type,
              }).then(function(result) {
                // Handle result.error or result.token
                if (result.error){
                  $('#error').show();
                  $('#error').html(result.error.message);
                  enable_link('#btn-primary');
                }
                else{
                  $('#bank_btok').val(result.token.id);
                  $('#bank_acc_id').val(result.token.bank_account.id);
                  $('form#bank_form').off('submit').submit();
                }
              });
            }
          });
        });
