.freelancer-job__msg-cont
  display: inline-block
  margin-left: 16px

.freelancer-job__msg-user-name
  display: inline-block
  float: left
  font-size: 14px
  font-weight: 600

.freelancer-job__msg-created-at
  display: inline-block
  float: left
  clear: left
  font-size: 10px
  text-transform: uppercase

.freelancer-job__msg-price
  display: inline-block
  float: right
  font-size: 32px
  &.reject
    text-decoration: line-through
  &.overbudget
    color: #b3271b
    &.reject
      text-decoration: line-through

.freelancer-job__msg-text
  padding-top: 8px
  clear: left
  font-size: 14px

.freelancer-job__quote-msg
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex

.freelancer-job__message-history
  margin-top: 24px
  padding-top: 24px
  border-top: 1px solid rgba(0, 0, 0, 0.25)

.freelancer-job__quote-form
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap