.freelancer-job__apply-modal, .freelancer-job__apply-modal-cont
  padding: 16px
  width: 100%
  height: 100%
  position: fixed
  z-index: 10000
  background-color: $white-color
  left: 0
  top: 0
  display: none
  overflow: scroll

.freelancer-job__apply-modal-cont

.freelancer-job__apply-form
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap

.freelancer-job__apply
  padding: 8px 20px 8px 20px
  position: fixed
  left: 0px
  right: 0px
  bottom: 0px
  z-index: 200
  background-color: $white-color
  border-top: 1px solid rgba(0,0,0, 0.15)
  background-color: $white-color

.freelancer-job__apply-modal__errors
  margin-bottom: 5px
  color: $validation-error