h1 Editing Freelancer

= simple_form_for([:admin, @freelancer]) do |f|
  = f.error_notification
  = render "/freelancer/profiles/edit_freelancer_profile", f: f
  = f.simple_fields_for :freelancer_profile do |df|
    = df.input :special_avj_fees, label: 'Special AVJ fee'
    = df.input :verified
    = df.input :disabled
  .form-actions
    = f.button :submit, class: "btn btn--primary", prompt: "Select"

hr
= link_to 'Show', admin_freelancer_path(@freelancer)
'  |
= link_to 'Back', admin_freelancers_path

javascript:
  var updateHeaderImage = function() {
    $("#edit-freelancer-profile-header").click();
    $("#edit-freelancer-profile-header").on('change', function() {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#freelancer-edit-profile__header");

      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else {
        alert("Only images can be selected.");
      }
    });
  }

  var updateProfilePicture = function() {
    $("#edit-freelancer-profile-avatar").click();
    $("#edit-freelancer-profile-avatar").on('change', function() {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#freelancer-edit-profile__avatar");

      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else {
        alert("Only images can be selected.");
      }
    });
  }


  function uploadCertificate (index) {
    if (index != undefined) {
      var ref = $("#freelancer_certifications_attributes_"+index+"_certificate");
    } else {
      var ref = $(".add-new-certificate").prev('div').find(".profile__meta__info").find(".file-input--hidden");
    }

    ref.on('change', function() {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().parent().find(".freelancer-profile__image").find(".authorable_attachment--full").find("img");
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/certification/certification_placeholder.png")
      } else {
        alert("Only images can be selected.");
      }
    });

    ref.click();
  }

  function uploadAffiliateImage (index) {
    if (index != undefined) {
      var ref = $("#freelancer_freelancer_affiliations_attributes_"+index+"_image");
    } else {
      var ref = $(".add-new-affiliation").prev('div').find(".profile__meta__info").find(".file-input--hidden");
    }

    ref.on('change', function() {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().parent().find(".freelancer-profile__image").find(".authorable_attachment--full").find("img");
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/certification/certification_placeholder.png")
      } else {
        alert("Only images/pdfs can be selected.");
      }
    });

    ref.click();
  }

  function uploadClearanceImage (index) {
    if (index != undefined) {
      var ref = $("#freelancer_freelancer_clearances_attributes_"+index+"_image");
    } else {
      var ref = $(".add-new-clearance").prev('div').find(".profile__meta__info").find(".file-input--hidden");
    }

    ref.on('change', function() {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().parent().find(".freelancer-profile__image").find(".authorable_attachment--full").find("img");
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/certification/certification_placeholder.png")
      } else {
        alert("Only images/pdfs can be selected.");
      }
    });

    ref.click();
  }

  function uploadPortfolioImage (index) {
    if (index != undefined) {
      var ref = $("#freelancer_freelancer_portfolios_attributes_"+index+"_image");
    } else {
      var ref = $(".add-new-portfolio").prev('div').find(".profile__meta__info").find(".file-input--hidden");
    }

    ref.on('change', function() {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().parent().find(".freelancer-profile__image").find(".authorable_attachment--full").find("img");
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/certification/certification_placeholder.png")
      } else {
        alert("Only images/pdfs can be selected.");
      }
    });

    ref.click();
  }

  function uploadInsuranceImage(index) {
    if (index != undefined) {
      var ref = $("#freelancer_freelancer_insurances_attributes_" + index + "_image");
    } else {
      var ref = $(".add-new-insurance").prev('div').find(".profile__meta__info").find(".file-input--hidden");
    }

    ref.on('change', function () {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().parent().find(".freelancer-profile__image").find(".authorable_attachment--full").find("img");
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else if (extn == "pdf") {
        image_holder.attr('src', "/assets/certification/certification_placeholder.png")
      } else {
        alert("Only images/pdfs can be selected.");
      }
    });

    ref.click();
  }
