h2= @company.name
p= mail_to @company.email
- if @company.avatar&.exists?
  p
    img src=@company.avatar_url

hr
= link_to 'Edit', edit_admin_company_path(@company)
'  |
= link_to 'Back', admin_companies_path
