 
body
  font-family: $default-font
  color: $avj-color-black
  font-size: 16px
  line-height : 120%

a  
  text-decoration: none
  color: $avj-color-primary-dark
  cursor: pointer
  &:hover
    text-decoration: none
  &:not([href]):not([tabindex])
    color: $avj-color-primary-dark


h1
  margin-bottom : 16px
  font-weight : 400
  font-size : 32px
  @media (max-width: $breakpoint-tablet)
    font-size: 16px

h2 
  margin-top: 0
  margin-bottom : 16px
  font-weight : 400
  font-size : 24px

h3 


.avj-body1
  margin-bottom: 8px
  font-size: 20px
  @media (max-width: $breakpoint-tablet)
    font-size: 16px

.avj-body2
  margin-bottom: 8px
  font-size: 18px
  line-height : 130%
  @media (max-width: $breakpoint-tablet)
    font-size: 16px

.avj-caption1
  margin-bottom: 8px
  font-size: 14px
  letter-spacing: 0.5px
  @media (max-width: $breakpoint-tablet)
    font-size: 14px

.avj-caption2
  margin-bottom: 8px
  font-size: 12px
  @media (max-width: $breakpoint-tablet)
    font-size: 12px

.avj-text-emphasize
  font-weight: 600

.avj-text-color-primary
  color: $avj-color-primary

.avj-text-color-black
  color: $avj-color-black !important

.avj-text-color-black2
  color: $avj-color-black2 !important

.avj-text-sm
  font-size: 16px !important
  
.avj-bg-gorange
  background-color: $avj-color-gorange 

.ellipsis
  white-space: nowrap 
  overflow: hidden
  text-overflow: ellipsis
  &__subhead
    width: calc(100vw - 70px)

.zmdi
  font-size: 24px
  color: $avj-color-primary
  @media (max-width: $breakpoint-tablet)
    font-size: 24px

//Forms
label
  font-weight: 400