
- if !current_freelancer.nil? or !current_freelancer.nil?
.container
  div class="alert alert-info alert-dismissible fade in"
    | We're currently in pre-registration mode with only a limited set of features available to you. While we work on collecting the best AV Companies and Freelancer around, you can get busy building a killer profile.