
- if !current_freelancer.nil? or !current_freelancer.nil?
.container
  div class="alert alert-info alert-dismissible fade in"
    | We're currently in pre-registration mode with only a limited set of features available to you. Build a killer profile while work on attracting the best AV Companies and Freelancers around.