- controller = current_user.company_user? ? :company : :admin
= simple_form_for([controller, @job]) do |f|
  = render "company/jobs/edit_job_sub_nav", f: f
  = render "company/jobs/edit_job_form", company: @job.company, f: f

