.company-freelancers
  .result-freelancers
    padding: 16px
    box-sizing: border-box
  .result-row
    display: block
    border-bottom: 1px solid $freelancer-separator
    padding: 20px 0
    color: $gray-light
    z-index: 1

    &:last-of-type
      border-bottom: none

  .media-left img
    width: 75px
    height: 75px
    border: 1px solid $gray-light
    border-radius: 2px
  .pagination
    margin-bottom: 20px
    display: inline-block
    width: 100%
  .media-left
    min-width: 85px
    position: relative

.company-freelancer
  &__favourite-checkbox
    z-index: 20

  &__favourite-button
    margin: 20px 0px
    border: 0px
    text-transform: uppercase
    font-size: 11px
    padding: 10px 20px
    cursor: pointer
  
  &__sort, &__distance
    //width: 200px

.media-heading
  margin-top: 0
  font-size: 16px
  font-weight: bold

.media-tagline
  font-style: italic

.result-wrapper
  background-color: $white-color
  box-sizing: border-box
  border-radius: 4px
  width: 100%
  display: inline-block

  @media (max-width: $breakpoint-tablet)
    margin: -15px
    padding: 15px
    width: calc(100% + 30px)


.result-content
  padding: 20px
  overflow: hidden
  @media (max-width: $breakpoint-tablet)
    padding: 0px

  &--expanded
    @extend .result-content
    height: auto
  
  &--collapsed
    @extend .result-content
    height: 500px

.result-content__expand
  position: relative
  margin-top: -110px

  &__gradient
    width: 100%
    height: 100px
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )

    &--hidden
      background: transparent
      margin-top: 100px

  &__bg
    text-align: center
    background-color: $gray-f3
    padding: 12px
    
.result-header
  width: 100%
  display: inline-block
  padding: 20px
  box-sizing: border-box
  font-size: 13px
  background-color: $search-header-background
  &:after
    clear: both

  &__link
    float: right
    font-size: 14px
    padding-top: 7px

  &__text
    float: left
    font-size: 20px

    &--strong
      font-weight: bold
    
    &--projects
      @extend .result-header__text
      font-size: 24px

  &__link-back
    float: left
    margin-right: 10px
    font-size: 30px
    color: $gray-dark

  &__sort, &__distance
    float: right

  &__sort-text, &__distance-text
    text-transform: uppercase
    margin-right: 10px
    font-size: 13px
    font-weight: bold

  &__button
    float: right

.tab-bar
  overflow: auto
  white-space: nowrap

.tab-bar__item
  display: inline-block
  padding: 8px 24px
  box-shadow: inset 0 0 0 0 #3daadf
  -webkit-transition: box-shadow 200ms ease
  transition: box-shadow 200ms ease
  color: #3daadf
  font-size: 14px
  font-weight: 600
  text-decoration: none
  text-transform: uppercase
  &:hover
    box-shadow: inset 0 -5px 0 0 #208cc0


.tab-item--active, .tab-bar__item--active
  display: inline-block
  padding: 8px 24px
  box-shadow: inset 0 -3px 0 0 #3daadf
  -webkit-transition: box-shadow 200ms ease
  transition: box-shadow 200ms ease
  color: #3daadf
  font-size: 14px
  font-weight: 600
  text-decoration: none
  text-transform: uppercase
  &:hover
    box-shadow: inset 0 -5px 0 0 #208cc0 


.tab-item--inactive, .tab-bar__item--inactive
  display: inline-block
  padding: 8px 24px
  box-shadow: none
  border-bottom: 0px solid #000
  -webkit-transition: box-shadow 200ms ease
  transition: box-shadow 200ms ease
  color: #666
  font-size: 14px
  font-weight: 600
  text-decoration: none
  text-transform: uppercase
  &:hover
    box-shadow: inset 0 -3px 0 0 #a7a7a7


.freelancer-favourite
  color: $brand-primary
  position: absolute
  right: 15px
  top: 54px

.freelancer-verified
  color: $verified-color
  position: absolute
  font-size: 16px
  right: 14px
  top: 26px

.search-header
  background-color: $current-applicant-bg-color
  padding: 10px 15px
  margin: 0px -15px


.result-mobile
  background-color: $white-color
  padding-top: 10px



.company-info
  width: 100%
  position: relative
  padding: 10px 0px
  border-bottom: 1px solid $gray-f3

  &__rating
    color: $freelancer-stars-color
    font-size: 12px
    float: right

  &:last-of-type
    border-bottom: 0

  &__favourite
    position: absolute
    color: $brand-primary
    left: 32px
    top: 42px


  &__name
    display: block
    font-size: 16px

  &__area
    color: $black-color
    font-size: 14px

.company-mobile
  &__row
    width: 100%
    display: table

    &--margin-top
      @extend .company-mobile__row
      margin-top: 20px

    &--margin-bottom
      @extend .company-mobile__row
      margin-bottom: 20px

  &__avatar
    width: 50px
    height: 50px
    margin-right: 10px
    display: table-cell

  &__link
    margin-top: 15px
    font-size: 16px
    span
      padding-left: 5px

  &__label
    color: $gray-dark

  &__value
    font-size: 15px

  &__label-small
    font-size: 10px

  &__text
    font-size: 14px

  &__name
    font-size: 24px
    display: table-cell
    padding-left: 10px


  &__reviews
    font-size: 12px

  &__review-content--empty
    font-size: 14px

  &__area
    color: $black-color
    font-size: 14px
    display: table-cell
  
  &__consumer-satisfaction
    display: table-cell
    text-align: right

  &__member-since
    font-size: 14px
    color: $black-color

  &__contract-preference
    font-size: 14px
    color: $black-color
  
  &__meta__item
    display: table-cell

    &-value
      font-size: 35px
      color: $black-color
      text-align: center

    &-label
      font-size: 10px
      color: $gray-dark
      text-align: center
      font-weight: bold
      text-transform: uppercase

  