.company-applicants, .company-quotes

  .applicant
    border-bottom: 2px solid $gray-lighter
    padding: 20px 0
    margin: 0

    .media-left
      padding: 0px 15px 0px 25px
      position: relative

    &--current
      background-color: $current-applicant-bg-color

  .freelancer
    &_avatar
      border-radius: 4px
      border: 1px solid $gray-ccc
    &_name
      font-size: 16px
      color: $gray-dark
      font-weight: bold
      line-height: 1em
    &_area
      color: $gray-dark
    &_distance
      color: $gray-dark
      font-size: 14px
      line-height: 2em
    &_tagline
      color: $gray-dark
      font-style: italic

  .quote
    &_over-budget
      text-align: right
      color: $brand-danger
      text-transform: uppercase
      font-weight: bold
    &_amount
      text-align: right
      font-size: 36px
    &_pay_type
      text-align: right
      text-transform: uppercase
      color: $gray-light

  .authorable_name
    font-size: 14px
    color: $black-color
    font-weight: bold
    margin-right: 8px

  .authorable_date
    font-size: 12px
    color: $gray-dark

  .authorable_body
    font-size: 14px
    

  .quote_state
    text-align: right
