.company-applicants, .company-quotes, .messages-and-activity

  .applicant
    border-bottom: 2px solid $gray-lighter
    padding: 20px 0
    margin: 0

    .media-left
      padding: 0px 15px 0px 25px
      position: relative

    &--current
      background-color: $current-applicant-bg-color

  .freelancer
    &_avatar
      border-radius: 4px
      width: 40px
    &_name
      font-size: 16px
      color: $gray-dark
      font-weight: bold
      line-height: 1em
    &_area
      color: $gray-dark
    &_distance
      color: $gray-dark
      font-size: 14px
      line-height: 2em
    &_tagline
      color: $gray-dark
      font-style: italic

  .quote
    &_over-budget, &_under-budget
      text-align: right
      color: $brand-danger
      text-transform: uppercase
      font-weight: bold

    &_under-budget
      color: $brand-success
    &_amount
      text-align: right
      font-size: 36px
      &--declined
        text-decoration: line-through
        
    &_pay_type
      text-align: right
      text-transform: uppercase
      color: $gray-light

  .authorable_name
    font-size: 14px
    color: $black-color
    font-weight: bold
    margin-right: 8px

  .authorable_date
    font-size: 12px
    color: $gray-dark

  .authorable_body
    font-size: 14px

  .quote_state
    text-align: right

.authorable_attachment
  margin-top: 15px
  text-decoration: none
  border-radius: 4px
  display: block
  font-size: 26px
  padding: 10px
  width: calc(100% - 200px)
  box-sizing: border-box
  @media (max-width: $breakpoint-tablet)
    width: 100%
    margin-top: 0px
    margin-bottom: 8px

  &__item
    padding: 5px 10px 0px 10px
    border: 1px solid $attachment-border
    margin-bottom: 10px
    display: inline-block
    width: 100%

  &--full
    @extend .authorable_attachment
    position: relative
    width: 100px
    float: left
    height: 100px
    margin: 5px 0px
    display: inline-block
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-color: $gray-eee
    background-radius: 4px
    padding: 0
    overflow: hidden

.authorable_attachment_icon
  float: left
  margin-right: 10px
  color: $brand-primary

.authorable_attachment__filename
  width: calc(100% - 45px)
  font-size: 14px
  font-weight: bold
  overflow: hidden
  text-overflow: ellipsis
  color: $black-color
  line-height: 1.8em
  overflow: hidden
  white-space: nowrap
  

.links
  margin-bottom: 10px