.freelancer-search
  input
    height: 50px
    font-size: 20px
    &[type="submit"]
      width: 100%
      font-size: 14px
      text-transform: uppercase

.job-nav
  .back-arrow
    padding-right: 5px
    color: $gray-light
    &:hover
      text-decoration: none
      color: $link-color
