.company-freelancers
  .result-row
    display: block
    border-bottom: 2px solid $gray-lighter
    padding: 20px 0
    color: $gray-light
  .media-left img
    width: 75px
    height: 75px
    border: 1px solid $gray-light
    border-radius: 2px
  .pagination
    margin-top: 20px
