.company-freelancers
  .result-freelancers
    padding: 0px 20px
    box-sizing: border-box
  .result-row
    display: block
    border-bottom: 1px solid $freelancer-separator
    padding: 20px 0
    color: $gray-light
    z-index: 1

    &:last-of-type
      border-bottom: none

  .media-left img
    width: 75px
    height: 75px
    border: 1px solid $gray-light
    border-radius: 2px
  .pagination
    margin-bottom: 20px
    display: inline-block
    width: 100%
  .media-left
    min-width: 22px
    position: relative

.company-freelancer
  &__favourite-checkbox
    z-index: 20

  &__favourite-button
    margin: 20px 0px
    border: 0px
    text-transform: uppercase
    font-size: 11px
    padding: 10px 20px
    cursor: pointer
  
  &__sort, &__distance
    width: 200px

.media-heading
  margin-top: 0
  font-size: 16px
  font-weight: bold

.media-tagline
  font-style: italic

.freelancer-keywords
  width: 100%
  display: inline-block

.freelancer-keyword
  @extend %keyword-base

.result-wrapper
  background-color: $white-color
  margin: 30px 0px 30px 0px
  box-sizing: border-box
  border-radius: 4px
  width: 100%
  display: inline-block
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1)
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1)
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1)

.result-content
  padding: 20px
  overflow: hidden

  &--expanded
    @extend .result-content
    height: auto
  
  &--collapsed
    @extend .result-content
    height: 500px

.result-content__expand
  position: relative
  margin-top: -110px

  &__gradient
    width: 100%
    height: 100px
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )

    &--hidden
      background: transparent

  &__bg
    text-align: center
    background-color: $gray-f3
    padding: 12px
    
.result-header
  width: 100%
  display: inline-block
  padding: 20px
  box-sizing: border-box
  font-size: 13px
  background-color: $search-header-background
  &:after
    clear: both

  &__link
    float: right
    font-size: 14px
    padding-top: 7px

  &__text
    float: left
    font-size: 30px

    &--strong
      font-weight: bold
    
    &--projects
      @extend .result-header__text
      font-size: 24px

  &__link-back
    float: left
    margin-right: 10px
    font-size: 30px
    color: $gray-dark

  &__sort, &__distance
    float: right

  &__sort-text, &__distance-text
    text-transform: uppercase
    margin-right: 10px
    font-size: 13px
    font-weight: bold

  &__button
    float: right


.tab-bar
  width: 100%
  display: inline-block
  margin-bottom: -5px

  &__item
    width: 150px
    height: 50px
    font-size: 14px
    font-weight: bold
    text-align: center
    text-transform: uppercase
    color: $freelancer-sub-nav-text-color !important
    display: block
    float: left
    line-height: 4em

    &:hover
      text-decoration: none
      color: $freelancer-sub-nav-text-color !important
      border-bottom: 3px solid $freelancer-sub-nav-border-color !important

    &--active
      color: $freelancer-sub-nav-color !important
      border-bottom: 3px solid $freelancer-sub-nav-color !important
      &:hover
        color: $freelancer-sub-nav-color !important
        border-bottom: 3px solid $freelancer-sub-nav-color !important

    &--inactive
      &:hover
        border-bottom: none !important


.freelancer-favourite
  color: $brand-primary
  position: absolute
  right: 15px
  top: 54px

.freelancer-verified
  color: $verified-color
  position: absolute
  font-size: 16px
  right: 14px
  top: 26px