.company-jobs, .company-contracts

  #job
    &_summary
      height: 100px
    &_scope_of_work
      height: 200px

  .show-budget
    font-size: 45px
    font-weight: bold

  #payments
    margin-bottom: 15px
    .form-group
      margin-bottom: 10px
    .nested_fields
      display: flex
      justify-content: space-between
    .job_payments_description
      width: 65%
    .job_payments_amount
      width: 25%
      min-width: 100px
  #attachments
    margin-bottom: 15px
    .form-group
      margin-bottom: 10px
    .nested_fields
      display: flex
      justify-content: space-between
      &--full-width
        width: 100%
        display: block
    .job_attachments_file
      width: 65%

  .job_reporting_frequency
    .radio
      label
        text-transform: none

.job-details__title
  width: 100%
  // float: left
  text-transform: uppercase
  font-weight: bold
  color: $gray-dark
  font-size: 14px
  margin-top: 10px

.job-details
  width: 100%
  display: inline-block
  margin-bottom: 20px

  &__date
    float: left
    width: 267px
    margin-right: 17px

  &__price
    width: 170px
    float: left
    margin-right: 12px

  &__price-status
    float: left
    width: calc(100% - 170px)
    &:after
      clear:both

    &

  &__expand
    margin-top: 20px  

  &--collapsed
    display: none

  &__expand-btn
    padding: 0px

  &__bar
    float: left
    width: calc(100%/5)

  &__text
    font-size: 18px
    color: $gray-dark

  &__left
    float: left
    margin: 0px 15px 20px 0px
    font-weight: normal
    width: calc(65% - 15px)

    &:last-of-type
      margin-bottom: 0px


  &__link
    font-size: 16px
    padding: 0px
    text-transform: none
    white-space: normal
    text-align: left

  &__right
    float: right
    width: 35%

  &__work-order
    width: 100%
    border-radius: 4px

    &__content
      display: inline-block
      background-color: $search-header-background
      padding: 15px 25px
      width: 100%


    &__status
      font-size: 18px
      float: left
      line-height: 2em

    &__btn, &__btn--disabled
      text-transform: uppercase
      font-size: 14px
      padding: 12px 34px
      background-radius: 4px
      float: right
    
    &__btn--disabled
      color: $white-color
      background-color: $gray-ccc

.job-details__attachments
  width: 100%

.job-details__attachment
  position: relative
  height: 200px
  float: left
  width: 150px
  margin-right: 50px

  &__file
    width: 150px

    img
      width: 100%
      height: auto

    span
      font-size: 100px
      color: $project-edit-icon

  &__name
    font-size: 16px
    word-break: break-all
    position: absolute
    bottom: 0

.contract-edit__btn
  text-transform: none
  padding: 0px