.company-messages
  .post
    padding-bottom: 20px
    margin-bottom: 20px
    border-bottom: 1px solid $gray-lighter

  .messages-and-activity
    height: 472px
    overflow-y: scroll
    overflow-x: hidden
    margin-bottom: 27px

    &--wrapper
      position: relative

  .message
    padding-bottom: 27px
    margin-bottom: 27px
    border-bottom: 1px solid $gray-ccc

  .attachment-image
    max-width: 200px
    max-height: 200px
    border: 1px solid $gray-light
    border-radius: 2px

.applicant-messages
  width: 100%
  display: inline-block
  max-height: 800px
  overflow-x: hidden
  overflow-y: scroll
  margin-top: -6px

  &__list
    float: left
    width: 300px
    box-sizing: border-box
    display: inline-block
    height: auto
    min-height: 500px

  &__list-wrapper
    
    height: 100%
    float: left
    display: inline-block
  

  &__item
    float: left
    width: 100%
  
  &__messages
    width: calc(100% - 301px)
    float: left
    box-sizing: border-box
    padding: 15px 15px 0px 15px
    position: relative
    min-height: 500px
    border-left: 1px solid $messages-border

    &--inner
      height: 450px
      overflow-x: hidden
      overflow-y: scroll
      margin-top: 120px
      margin-bottom: 10px

    .media
      margin-bottom: 30px


.new-message--wrapper
  width: 100%
  display: inline-block
  border-bottom: 1px solid $gray-ccc
  padding: 15px 15px 15px 15px
  margin: 0px -15px
  position: absolute
  top: 0
  height: 126px

.new-message
  width: 100%
  display: inline-block
  padding: 0px 15px 0px 15px
  box-sizing: border-box
  bottom: 0

  &__freelancer-selected
    font-style: italic
    margin-top: 34px

  &__options
    margin-bottom: 15px
    label
      text-transform: none
      font-size: 16px
      margin: 0px 10px 0px 5px
      color: $gray-333

  &__input
    width: calc(100% - 140px)
    border: 1px solid $gray-ccc
    float: left
    border-radius: 4px
    margin: 0px 10px 0px 0px
    input
      width: calc(100% - 30px)
      border: none
      float: left
    &--counter-visible
      width: calc(100% - 300px)

  &__counter
    width: 150px
    border: 1px solid $gray-ccc
    float: left
    border-radius: 4px
    margin: 0px 10px 0px 0px
    display: none
    input
      width: 100%
      border: none
      float: left
    
    &--visible
      display: block

  &__attachment-button
    width: 10px
    margin: -10px 10px 0px 10px
    float: left
    cursor: pointer
    &:hover
      color: $brand-primary
    &--active
      color: $brand-primary
  &__attachment
    visibility: hidden
    height: 0px
  &__submit
    width: 130px
    float: left

  .simple_form, .message
    position: relative

  
.messaging-filter
  display: inline-block

  &__text
    text-transform: uppercase
    font-weight: bold
    font-size: 16px
    margin-right: 10px
    float: left
    line-height: 1.65em

  &__select
    font-size: 16px
    float: left