.company-profiles


.company-profile
  &__item
    margin-bottom: 20px
    
  &__title
    width: 100%
    text-transform: uppercase
    font-weight: bold
    color: $gray-dark
    font-size: 14px
    margin-top: 10px