shared:
  google_maps_api_key: ~
  google_maps_js_api_key: ~
  auth_google_client_id: ~
  auth_google_secret: ~
  auth_facebook_client_id: ~
  auth_facebook_secret: ~
  auth_linkedin_client_id: ~
  auth_linkedin_secret: ~
  sendgrid_username: ~
  sendgrid_password: ~

development:
  secret_key_base: change-me # You can use `rails secret` output

test:
  secret_key_base: change-me # You can use `rails secret` output
