- content_for :secondary do
  = render partial: "shared/messages_index", locals: { recipient_name: @company.name, path: freelancer_company_messages_path(@company), company: @company, freelancer: current_user, authorable_type: "Freelancer" }
