.common__h2-modal
  line-height: 32px

.common__field-label
  margin-bottom: 0px
  color: #333
  font-size: 13px
  font-weight: 600
  text-transform: uppercase

.common__text-field
  border-radius: 4px

.common__radio-field-label
  font-size: 14px

.common__radio-group
  display: block
  width: 100%
  margin-top: 8px
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  &.width-30
    width: 30%

.common__text-field-group
  width: 100%
  margin-top: 8px
  &.width-30
    width: 30%

.common__text-area-group
  width: 100%
  margin-top: 8px
  -webkit-box-flex: 0
  -webkit-flex: 0 auto
  -ms-flex: 0 auto
  flex: 0 auto

.common__tag
  display: inline-block
  padding: 4px 8px
  float: none
  border: 1px solid #000
  border-radius: 4px
  background-color: #fff
  font-size: 13px
  font-weight: 600
  text-transform: uppercase
  &.grey
    margin: 4px 8px 4px 0px
    border-color: #a7a7a7
    background-color: #e2e2e2
  &.green
    display: inline-block
    border-color: #12c01e
    background-color: #8ff696

.common__form-action-cont
  width: 100%

.common__user-avatar
  display: inline-block
  width: 40px
  height: 40px
  -webkit-box-flex: 0
  -webkit-flex: 0 0 auto
  -ms-flex: 0 0 auto
  flex: 0 0 auto
  background-color: #3daadf  

.common__select-field
  background-image: -webkit-linear-gradient(270deg, #fff, #fff)
  background-image: linear-gradient(180deg, #fff, #fff)

.common__icon-attach {
  font-family: 'Material design iconic font', sans-serif;
}

.common__text-field--attach-file {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  margin-top: -55px;
  margin-right: 0px;
  padding: 16px;
  float: none;
}
