.main
  .color-demo
    display: flex
    flex-wrap: wrap
    >div
      width: 20%
      padding: 10px
      height: 150px
      color: white
    >.brand-primary
      background-color: $brand-primary
    >.brand-danger
      background-color: $brand-danger
    >.brand-success
      background-color: $brand-success
    >.brand-warning
      background-color: $brand-warning
    >.brand-info
      background-color: $brand-info
