.navbar
  height: 70px
  font-size: 16px
  text-transform: uppercase
  background-color: white
  font-family: $default-font
  font-weight: 600
  @media (max-width: 768px)
    display: none

.navbar-brand
  padding: 15px 0 20px 15px
  .header-logo
    height: 25px

.navbar-nav
  > li
    > a
      padding: 22px 15px
      color: $gray-dark
      background-color: $white-color !important
      &:hover
        color: $brand-primary

  > li.active
    > a
      background-color: $white-color !important
      color: $brand-primary

.navbar-floating
  box-shadow: 0 0 10px rgba(0,0,0,0.4)

.dropdown-avatar
  width: 35px
  height: 35px
  overflow: hidden
  border: 1px solid $nav-border-color
  border-radius: 4px
  float: left
  margin: -8px 5px 0px 0px

  &:hover
    border: 1px solid $brand-primary


.mobile-nav
  width: 100%
  position: fixed
  z-index: 10000
  top: 0
  left: 0

  @media (min-width: 769px)
    display: none

  &__blocker
    width: 100%
    height: 100%
    position: absolute
    display: none
    left: 0
    top: 0
    background-color: $mobile-menu-bg

    &--visible
      display: block

  &__header
    width: 100%
    height: 50px
    padding-top: 12px
    background-color: $white-color
    
    &__toggle
      position: absolute
      z-index: 2
      left: 0
      top: 0
      padding: 15px
      cursor: pointer
      color: $brand-primary


      &--on
        @extend .mobile-nav__header__toggle
        display: block

      &--off
        @extend .mobile-nav__header__toggle
        display: none

    &__title
      width: 100%
      text-align: center

      img
        width: 150px
        height: auto

  &__menu
    position: absolute
    width: calc(100% - 50px)
    left: -100%
    background-color: $brand-primary
    -webkit-transition: 0.5s ease-in
    -moz-transition: 0.5s ease-in
    -o-transition: 0.5s ease-in
    -webkit-box-shadow: 8px 28px 8px 8px rgba(0,0,0,0.1)
    -moz-box-shadow: 8px 28px 8px 8px rgba(0,0,0,0.1)
    box-shadow: 8px 28px 8px 8px rgba(0,0,0,0.1)
    min-height: 600px

    a
      color: $white-color
      width: 100%
      background-color: $brand-primary
      display: block
      text-transform: uppercase
      padding: 15px
      font-size: 14px
      font-weight: bold

      img
        width: 15px
        height: auto
        margin-right: 10px

    &--visible
      left: 0
      -webkit-transition: 0.5s ease-in-out
      -moz-transition: 0.5s ease-in-out
      -o-transition: 0.5s ease-in-out

    