.payments
  margin-top: 16px
  padding-top: 16px
  padding-bottom: 16px
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  opacity: 1
  &.milestone--inactive
    opacity: 0.4

.payments__title
  padding-right: 16px
  -webkit-box-flex: 0
  -webkit-flex: 0 auto
  -ms-flex: 0 auto
  flex: 0 auto

.payments__date
  display: inline-block
  font-size: 12px
  font-weight: 700
  text-transform: uppercase

.payments__amt
  display: inline-block
  font-weight: 700

.payments__total-amt
  display: inline-block
  font-size: 32px
  font-weight: 400

.payments__total-group
  display: inline-block
  text-align: right

.payments__payout-label
  color: #999
  font-size: 12px
  font-weight: 700
  text-transform: uppercase

.payments__status
  margin-top: 8px
  color: #666
  font-size: 14px
  font-weight: 400

.payments__flexbox
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: start
  -webkit-align-items: flex-start
  -ms-flex-align: start
  align-items: flex-start
