//Page Structures
.page-parent
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  margin-top: 24px
  min-height: calc(100vh - 94px)
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  background-color: #e2e2e2

.page-top__container
  background-color: #fff

.page-top
  display: block
  max-width: 1200px
  min-height: 85px
  margin-top: 24px
  margin-right: auto
  margin-left: auto
  padding-right: 24px
  padding-left: 24px
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-flex-wrap: nowrap
  -ms-flex-wrap: nowrap
  flex-wrap: nowrap
  -webkit-box-align: start
  -webkit-align-items: flex-start
  -ms-flex-align: start
  align-items: flex-start
  -webkit-box-flex: 1
  -webkit-flex: 1
  -ms-flex: 1
  flex: 1
  background-color: transparent

.page-content
  display: block
  overflow: hidden
  width: 100%
  max-width: 1200px
  margin: 24px auto 40px
  padding: 24px
  -webkit-box-flex: 1
  -webkit-flex: 1
  -ms-flex: 1
  flex: 1
  border-radius: 8px
  background-color: #fff
  box-shadow: none
  &.page-content--preview 
    margin-top: -85px
  @media (max-width: 1199px)
    margin-top: 0px
    margin-bottom: 0px
    border-radius: 0px

//Navigation
.beta-message
  display: block
  text-transform: none
  margin-right: auto
  margin-left: auto
  max-width: 1170px
  padding-top: 10px
  text-align: center
  height: 30px
  font-size: 12px
  font-weight: 400
  @media (max-width: 767px)
    display: none


 



//Buttons
.btn-ghost--active
  display: inline-block
  padding: 8px
  margin-top: 4px
  margin-bottom: 4px
  border: 1px solid #3daadf
  border-radius: 4px
  background-color: transparent
  color: #333
  font-size: 12px
  font-weight: 600
  text-align: center
  text-decoration: none
  text-transform: uppercase
  &:hover
    color: #3daadf
  &.width-100
    width: 100%

.btn-primary--active
  display: inline-block
  margin-top: 4px
  margin-right: 16px
  margin-bottom: 4px
  padding: 8px
  -webkit-box-flex: 0
  -webkit-flex: 0 auto
  -ms-flex: 0 auto
  flex: 0 auto
  border: 1px solid #3daadf
  border-radius: 4px
  background-color: #3daadf
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25)
  -webkit-transition: background-color 200ms ease
  transition: background-color 200ms ease
  color: #fff
  font-size: 12px
  font-weight: 600
  text-align: center
  text-decoration: none
  text-transform: uppercase
  &:hover
    background-color: #208cc0
    color: white
  &.no-margin
    margin-right: 0px
    margin-left: 0px
    font-size: 12px
  &.width-100
    width: 100%
    float: none
    -webkit-box-flex: 0
    -webkit-flex: 0 auto
    -ms-flex: 0 auto
    flex: 0 auto
  &.warning
    border-color: rgba(0, 0, 0, 0.2)
    background-color: #ff1400
    &:hover
      border-color: #8f1b11
      background-color: #8f1b11
  &.top-margin
    margin-top: 8px

.btn-download-csv
  margin-bottom: 20px

.margin-right
  margin-right: 16px

.required-field::after
  content: "*"

   



