//Homepage Avatars
.homepage__avatar
  margin-bottom: 8px
  border: none

//Homepage Sidebar
.homepage__sidebar
  background-color: rgba(0,0,0,0.05)
  //margin: -24px -24px -24px 0
  padding: 24px

//Callout
.callout
  border: 1px solid rgba(0,0,0,0.1)
  padding: 24px
  height: 100% 