$color-blue-dark: #0f6990
$color-blue-light: #1ccdff

$color-orange-dark: #de4e28
$color-orange-light: #fe5f00

$brand-primary: $color-orange-dark
$brand-danger: $color-orange-light
$brand-success: $color-blue-dark
$brand-info: $color-blue-light
$brand-warning: darken($color-blue-light, 15%)

$link-hover-color: $brand-info
