$default-font: "Source Sans Pro", sans-serif
$icon-font: "Material-Design-Iconic-Font"

$avj-color-primary: #3C58EE
$avj-color-primary-dark: #1B2E9C
$avj-color-secondary: #FF8A00
$avj-color-black: #000000
$avj-color-black2: #666
$avj-color-grey1: #f8f8f8
$avj-color-grey2: #e3e9f0
$avj-color-grey3: #eee
$avj-color-gorange: #feede9
$avj-nav-height: 54px

$max-width: 900px
$breakpoint-mobile: 480px
$breakpoint-tablet: 768px 
$breakpoint-desktop: 769px

\:root
  --primary: $avj-color-primary

// Legacy
  
$color-blue-dark: #0f6990
$color-blue-light: #3daadf
$link-color: $color-blue-light
$breakpoint-mobile: 480px
$breakpoint-tablet: 768px
$breakpoint-desktop: 769px
$color-orange-dark: #de4e28
$color-orange-light: #fe5f00
$project-edit-icon: #999999
$mobile-menu-bg: rgba(255, 255, 255, 0.2)
$validation-error: #a94442
$gray-base: #000
$gray-lightest: #a6a6a6
$gray-lighter: lighten($gray-base, 97%)
$gray-mid: lighten($gray-base, 80%)
$gray-300: #d3d3d3
$gray-eee: #eeeeee
$gray-dark: #666666
$gray-ccc: #cccccc
$gray-333: #333333
$gray-f3: #f3f3f3
$modal-bg: rgba(0,0,0,0.3)
$dark-modal-bg: rgba(0,0,0,0.6)
$brand-primary: $color-blue-light
$brand-secondary: $color-orange-dark
$brand-success: $color-blue-dark
$brand-info: $color-orange-light
$brand-warning: darken($color-orange-light, 5%)
$brand-danger: $color-orange-dark
$skills-border: #cecece
$skills-background: $gray-eee
$secondary-background: $gray-eee
$search-header-background: #f5f5f5
$black-color: #3c3c3c
$white-color: #ffffff
$freelancer-separator: $gray-300
$check-color: $color-blue-light
$nav-border-color: #9c9c90
$freelancer-available-bg: #8ff696
$freelancer-available-border: #26c531
$job-inside-border-color: #e5e5e5
$job-title-color: #2d2d2d
$freelancer-busy-bg: red
$freelancer-busy-border: red
$freelancer-profile-favourite-color: #0da8e0
$freelancer-profile-invite-to-quote-color: #0da8e0
$freelancer-stars-color: #ffbc00
$freelancer-rate-label: #9a9a9a
$freelancer-section-color: $gray-lightest
$freelancer-sub-nav-color: #0da8e0
$freelancer-sub-nav-border-color: #cccccc
$freelancer-sub-nav-text-color: #666666
$footer-bg-color: #f8f8f8
$footer-title-text-color: #5c5c5c
$footer-text-color: $gray-lightest
$reviews-color: #ffbc00
$messages-border: #d8d8d8
$verified-color: #FF6C38
$current-applicant-bg-color: #f9f9f9
$attachment-border: #eaeaea
$label-primary-bg: #F6E08F
$label-primary-border: #E8CF6F
$label-primary-text: $black-color
$label-success-bg: #F6E08F
$label-success-border: #E8CF6F
$label-success-text: $black-color
$label-info-bg: #F6E08F
$label-info-border: #E8CF6F
$label-info-text: $black-color
$label-default-bg: #F6E08F
$label-default-border: #E8CF6F
$label-default-text: $black-color