= simple_form_for([:admin, @company], html: { multipart: true }) do |f|
  .truckker-section.truckker-section__msg-subhead.d-block.mb-4
    .container
      .truckker-subhead
        h4.ellipsis.m-0 Edit Profile
        .d-flex.align-items-center.justify-content-end
          a.btn.btn-outline-primary.btn-sm.mr-2 href=admin_company_path(@company)
            | Cancel
          = f.button :submit, "Update", class: "btn btn-primary btn-sm"

  = render "company/profiles/edit_company_profile", f: f, company: @company


javascript:
  var updateHeaderImage = function () {
    $("#edit-company-profile-header").click();
    $("#edit-company-profile-header").on('change', function (e) {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#company-edit-profile__header");

      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result);
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else {
        alert("Only images can be selected.");
      }
    });
  };

  var updateProfilePicture = function () {
    $("#edit-company-profile-avatar").click();
    $("#edit-company-profile-avatar").on('change', function () {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#company-edit-profile__avatar");

      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else {
        alert("Only images can be selected.");
      }
    });
  };

  function uploadFeaturedProject(index) {
    if (index != undefined) {
      var ref = $("#company_featured_projects_attributes_" + index + "_file");
    } else {
      var ref = $(".add-new-project").prev('div').find(".file-input--hidden");
    }

    ref.on('change', function () {
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $(this).parent().find(".authorable_attachment--full");
      console.log(image_holder);
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            image_holder.attr('src', e.target.result)
          }

          reader.readAsDataURL($(this)[0].files[0]);
        }
      } else {
        alert("Only images can be selected.");
      }
    });

    ref.click();
  };
