h2.title Search for Techs
= render "company/shared/freelancer_search_form"

h1.hero.text-center
  | New job postings are created everyday. Your next AV Job is just a search away. What are you waiting for?
